
    body {
            font-family: 'Inter', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fcfcfc;
        }

        .wrap {
            max-width: 1080px;
            margin: 0 auto;
            padding: 10px;
        }

        .form-container {
            background-color: #fff;
            border: 2px solid #ddd;
            padding: 20px;
            margin-top: 20px;
            text-align: left; /* Align form elements to the left */
        }

        .disclaimer-container {
            background-color: #fff;
            border: 0px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            text-align: left;
            font-size: 16px;
            color: #666;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .disclaimer-container p {
            margin-bottom: 20px; /* Adjust as needed */
            padding: 5px;
        }

        .disclaimer-container strong {
            font-weight: bold;
            font-size: 18px;
        }

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 5px;
        }

        input[type="submit"] {
            background-color: #6a9293;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0px 10px 0px 10px;
            font-size: 20px;
            margin-top: 20px;
        }

        input[type="submit"]:hover {
            background-color: #3a485e;
        }

        .page-heading {
            background-color: #c0e7e8b0;
            color: #3a485eac;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;
        }

        .entry-title {
            margin: 0;
        }

        h1 {
            margin: 0;
            color: #3a485eac;
        }

        @import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap");

        input,
        select,
        textarea,
        button {
          font-family: inherit;
          font-size: inherit;
        }

        .form-group {
          margin-bottom: 1.25rem;
          padding: 10px;
          margin-top: 1.25rem;
        }

        .col-form-label {
          display: flex;
          margin-bottom: 0.5rem;
          padding: 0.25rem;
        }

        .form-control {
          display: block;
          width: 100%;
          padding: 0.25rem 0.75rem;
          border: 1px solid var(--color-element-border);
          border-radius: 0.15rem;
        }

        .form-control:not(textarea) {
          height: 2.5rem;
        }

        .form-control:focus {
          outline: 0;
          box-shadow: 0 0 0 0.05rem var(--color-dark);
        }

        fieldset {
          border: 1px solid var(--color-element-border);
          border-radius: 0.15rem;
        }

        .form-radio,
        .form-checkbox {
          display: inline-block;
        }

        .formsec {
            padding: 15px;
        }

        .form-control,
        select {
            display: block;
            width: 100%;
            padding: 0.5rem 1rem; /* Adjust padding as needed */
            font-size: 1rem; /* Adjust font size */
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da; /* Border color */
            border-radius: 0.25rem; /* Border radius */
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        select:focus {
            border-color: #80bdff; /* Border color on focus */
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Focus shadow */
        }

        button {
            background-color: #6a9293;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0px 10px 0px 10px;
            font-size: 15px;
        }

        .other-input {
            display: none; /* Initially hide other input fields */
        }

