        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Inter', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fcfcfc;
        }

        .wrap {
            max-width: 960px;
            margin: 0 auto;
            padding: 10px;
        }

        .page-heading {
            background-color: #c0e7e8b0;
            color: #3a485eac;
            padding: 10px 0;
            text-align: center;
            font-size: 18px;
        }

        .entry-title {
            margin: 0;
        }

        .page-intro {
            background-color: #fff;
            border: 2px solid #ddd;
            padding: 20px;
            width: 580px; 
            margin-top: 20px;
            margin:0 auto;
            text-align: center;
            height: 535px;
        }

        .form {
            max-width: 100%;
            margin: 10px auto;
            padding: 0;
        }

        .question-container {
            padding: 20px;
            margin: 0 auto;
        }

        .question {
            margin-bottom: 0px;
        }

        .question-index-container {
            padding: 10px;
            background-color: #ffffff; 
            color: #3a485e;
        }

        .question-index {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
        }

        .ques-container {
            margin-top: 20px;
            text-align: center;
            padding: 20px;
        }        

        .question-text-container {
            border-top: 2px solid #ddd;
            background-color: #ffffff; 
            margin-bottom: 40px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 5px;
        }

        input[type="submit"] {
            background-color: #6a9293;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0px 10px 0px 10px;
            font-size: 20px;
            margin-left: 1000px;
        }

        input[type="submit"]:hover {
            background-color: #3a485e;
        }

        .option-container {
            margin: 0 auto;
            width: 550px;
        }
    
        .answer-options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 25px;
        }

        .answer-option {
            display: flex;
            align-items: center; 
            gap: 10px;
            margin-bottom: 10px;
        }
        
        .answer-option input[type="radio"] {
            display: none;
        }
        
        .answer-option label {
            cursor: pointer;
            width: 100%;
            border: 1px solid #3a485e1b;
            transition: background-color 0.3s, color 0.3s;
            color: #3a485e;
            display: flex;
            align-items: center; 
            padding: 8px;
            border-radius: 5px;
            font-size: 15px;
        }
        
        .answer-option label:hover {
            background-color: #f0f0f0; 
        }
        
        .answer-option input[type="radio"]:checked + label {
            background-color: #c0e7e87e; 
            color: #3a485e;
        }  
        
        .answer-option:first-child {
            margin-top: 20px; 
        }


        .navigation-buttons {
            display: flex;
            justify-content: space-between;
            width: 550px;
            margin: 0px auto;
            padding: 10px;
        }

        .navigation-buttons button {
            background-color: #6a9293;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0px 10px 0px 10px;
            font-size: 15px;
        }

        .navigation-buttons button:hover {
            background-color: #3a485e;
        }

        .option-index {
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            color: #3a485e;
            border-radius: 50%;
            border: 1px solid #3a485ec5;
            margin-right: 10px;
            display: flex;
            font-size: 14px;
            align-items: center; 
            justify-content: center;
        }
        
        /* Toast notification style */
        .toast {
            visibility: hidden;
            max-width: 250px;
            background-color: #1b1b1bdd;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
        }

        .toast.show {
            visibility: visible;
            animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
        }

        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }

        @keyframes fadeOut {
            from {opacity: 1;}
            to {opacity: 0;}
        }

        @media (max-width: 630px) {
            body{
                display: flex;
            }
            .page-intro {
                width: 370px; 
            }
            .option-container {
                width: 330px; 
            }
            .navigation-buttons {
                width: 330px;
            }
        }
